.page-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.page {
  margin: 20px;
}

body {
  background-color: #fccf5b;
}

h1,
p {
  text-align: center;
  margin-top: 15px;
}

a {
  color: #6f3826;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #6f3826;
}
